:root {
    --black: #000000;
    --white: #ffffff;
    --red: #ed1c24;
    --green: #28a745;
    --grey: #0f0f0f;
}


/* Navbar Started */

.navbar {
    height: 93px;
    border-bottom: 1px solid #303030;
}

.logo {
    width: 100%;
    height: 76px;
}

.img {
    width: 100%;
}

.menu {
    font-size: 16px;
    gap: 32px;
    padding-left: 55px;
}

.button-1,
.button-2 {
    width: 130px;
    height: 55px;
    border-radius: 30px;
    cursor: pointer;
}

.button-1 {
    border: 1px solid var(--white);
    background-color: var(--black);
    color: var(--white);
}

.button-2 {
    border: 1px solid var(--red);
    background-color: var(--red);
    color: var(--white);
    width: 150px;
    padding-left: 5px;
}

.arrow-icon {
    color: var(--red);
    background-color: var(--white);
    border-radius: 27px;
    margin: 0px 5px 8px 10px;
    padding: 7px 8px;
}

/* Navbar Ended */



 /* body started  */

 .main{
    width: 100%;
    height: 1280px;
    padding-top: 72px;
 }

 .content{
    width: 540px;
    height: 570px;
    margin-bottom: 24px;
    padding-top: 32px;
    padding-bottom: 40px;
    border: 1px solid #525252;
 }

 .img{
    width: 540px;
    height: 500px;
 }

 .branches{
    width: 520px;
    height: 600px;
    padding: 0px 15px;
    text-align: center;
 }

 .heading{
    font-family: butler;
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 32px;
 }

 .saltnpepper-mini-heading{
    font-size: 16px;
    font-family: apercu;
    margin-top: 12px;
    margin-bottom: 10px;
 }

 .location-para{
    font-size: 14px;
    font-family: apercu;
    margin-bottom: 14px;
    color: #ffffffB3;
 }

 .ph-no{
    color: #ffffffB3;
    font-size: 14px;
    font-family: apercu;
    cursor: pointer;
    text-decoration: none;
 }

 /* body ended   */
