:root {
    --black: #000000;
    --white: #ffffff;
    --red: #ed1c24;
    --green: #28a745;
    --grey: #0f0f0f;
}


/* Navbar Started */

.navbar {
    height: 93px;
}

.logo {
    width: 100%;
    height: 76px;
}

.img {
    width: 100%;
}

.menu {
    font-size: 16px;
    gap: 32px;
    padding-left: 55px;
}

.button-1,
.button-2 {
    width: 130px;
    height: 55px;
    border-radius: 30px;
    cursor: pointer;
}

.button-1 {
    border: 1px solid var(--white);
    background-color: var(--black);
    color: var(--white);
}

.button-2 {
    border: 1px solid var(--red);
    background-color: var(--red);
    color: var(--white);
    width: 150px;
    padding-left: 5px;
}

.arrow-icon {
    color: var(--red);
    background-color: var(--white);
    border-radius: 27px;
    margin: 0px 5px 8px 10px;
    padding: 8px 10px;
}

/* Navbar Ended */


/* Courasel Started */

.para-1 {
    font-family: apercu;
    font-size: 40px;
    margin: 70px 400px 5px 400px;
    text-align: center;
    color: #ffffff;
}

.bold {
    font-family: futurak;
    font-size: 55px;
}

.para-2 {
    font-family: apercu;
    font-size: 18px;
    color: #b3b3b3;
    margin-bottom: 40px;
    text-align: center;
}

.child-1,
.child-2,
.child-3 {
    border: 2px solid var(--white);
    width: 260px;
    height: 140px;
    background-color: var(--white);
    align-content: center;
    padding-left: 25px;
    cursor: pointer;
    border-radius: 3px;
}

.img-1,
.img-2,
.img-3 {
    width: 200px;
    height: 100px;
}

.img-btn-1,
.img-btn-2,
.img-btn-3 {
    border: 1px solid #494949;
    width: 175px;
    height: 50px;
    border-radius: 50px;
    background-color: transparent;
    color: #ffffff;
    margin: 25px;
    cursor: pointer;
    margin-bottom: 160px;
}

.img-btn-1 {
    margin-right: 85px;
}

.img-btn-3 {
    margin-left: 85px;
}


.main {
    width: 100%;
    height: 1168px;
    background-color: #0f0f0f;
    padding: 80px 100px;
}

.saltnpepper-heading {
    font-family: futurak;
    font-size: 52px;
    text-align: center;
    color: #ffffff;
}

.restaurant-heading {
    font-family: butler;
    font-size: 48px;
    margin-bottom: 8px;
    text-align: center;
    color: #ffffff;
}

.short-para {
    font-family: apercu;
    font-size: 18px;
    color: #b3b3b3;
    margin-bottom: 48px;
    text-align: center;
}

.restaurant.container-1 {
    width: 480px;
    height: 245px;
    padding: 0px 15px;
}

.islamabad-heading {
    font-family: apercu;
    font-size: 18px;
    color: #ED1C24;
    margin-bottom: 8px;
}

.saltnpepper-mini-heading-1 {
    font-family: futurak;
    font-size: 32px;
    margin-bottom: 18px;
    color: #ffffff;
}

.restaurant-mini-heading-1 {
    font-size: 32px;
    font-family: apercu;
    color: #ffffff;
}

.location-para-1 {
    color: #ffffffB3;
    font-size: 18px;
    font-family: apercu;
    margin-bottom: 10px;
}

.phone-no {
    color: #ffffffB3;
    font-size: 18px;
    font-family: apercu;
    margin-bottom: 10px;
}

.get-direction-btn {
    width: 180px;
    height: 50px;
    color: #ffffff;
    background-color: transparent;
    border: 1px solid #4b4b4b;
    font-size: 14px;
    margin-top: 40px;
    border-radius: 32px;
    cursor: pointer;
}

.direction-btn-icon {
    background-color: #ffffff;
    color: var(--red);
    border-radius: 30px;
    padding: 6px 8px;
    margin-left: 10px;
    cursor: pointer;
}

#restaurant-img-1 {
    padding: 0px 15px;
}

.restaurant-img-1 {
    width: 550px;
    height: 280px;
    margin-left: 90px;
}

#resturant-img-2 {
    padding: 0px 15px;
}

.restaurant-img-2 {
    width: 560px;
    height: 280px;
    margin-top: 60px;
}

.restaurant.container-2{
    width: 480px;
    height: 245px;
    padding: 0px 15px;
}

.faisalabad-heading{
    font-family: apercu;
    font-size: 18px;
    color: #ED1C24;
    margin-bottom: 8px;
    margin-top: 60px;
}

.saltnpepper-mini-heading-2 {
    font-family: futurak;
    font-size: 32px;
    margin-bottom: 18px;
    color: #ffffff;
}

.restaurant-mini-heading-2 {
    font-size: 32px;
    font-family: apercu;
    color: #ffffff;
}

.location-para-2 {
    color: #ffffffB3;
    font-size: 18px;
    font-family: apercu;
    margin-bottom: 10px;
}

